
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.navbar{
    width: 100vw;
    height: 8vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    z-index: 1;
    .navbarLogo{
        z-index: 1;
        margin-left: 10vw;
        .logoImage{
            width: 50px;
        }
    }
    .burger{
        display: none;
    }
    .navbarMenuSocial{
        z-index: 1;
        display: flex;
        justify-content: space-between;
        .navbarMenu{
            width: 50%;
            .navbarLinks{
                display: flex;
                justify-content: space-between;
                li{
                    list-style: none;
                }
            }
        }
        .navbarSocial{
            z-index: 1;
            display: flex;
            width: 7%;
            max-width: 50px;
            min-width: 40px;
            justify-content: space-between;
            margin-right: 10vw;
            #facebookLogo{
                font-size: 20px;
            }
            #instagramLogo{
                font-size: 20px;
            }
            
        }
    }

}

.underNav{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    .underNavImage{
        height: 100%;
        background:  linear-gradient(to bottom,rgba(92, 77, 66, 0.65) 0%, rgba(92, 77, 66, 0.65) 100%),url(../../immagini/modificate/immaginePieve.png) ;
        background-size: cover;
        background-position-x: 40%;
    }
    
}
.underNav:before{
    content: "";
    position: absolute;
    top: 0;
    width: 100vw;
    height: 8vh;
    background: rgba(255, 255, 255, 0.8);
}


@media only screen and(max-width:998px){
    .navbar{
        display: grid;
        grid-template-columns: 1fr 1fr;
        .navbarMenuSocial{
            animation: ease-in-out .3s;
            transform: translateX(100%);
            background-color: rgba(255, 255, 255, 0.8);
            width: 100vw;
            justify-content: space-around;
            display: none;
            grid-template-rows: 3fr 1fr;
            position: absolute;
            padding-top: 10%;
            top: 8vh;
            height: 92vh;
            .navbarMenu{
                justify-content: space-around;
                align-items: center;
                .navbarLinks{
                    height: 100%;
                    display:flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
            }
            .navbarSocial{
                padding-left: 20%;
                margin: 0;
                align-items: center;
            }
        }
        .burger{
            display: block;
            text-align: right;
            font-size: 30px;
            color: rgb(59, 59, 59);
            z-index: 1;
            right: 0;
            margin-right: 10vw;
        }
       
    }
}
