* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.navbar {
  width: 100vw;
  height: 8vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.navbar .navbarLogo {
  z-index: 1;
  margin-left: 10vw;
}

.navbar .navbarLogo .logoImage {
  width: 50px;
}

.navbar .burger {
  display: none;
}

.navbar .navbarMenuSocial {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbarMenuSocial .navbarMenu {
  width: 50%;
}

.navbar .navbarMenuSocial .navbarMenu .navbarLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbarMenuSocial .navbarMenu .navbarLinks li {
  list-style: none;
}

.navbar .navbarMenuSocial .navbarSocial {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 7%;
  max-width: 50px;
  min-width: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 10vw;
}

.navbar .navbarMenuSocial .navbarSocial #facebookLogo {
  font-size: 20px;
}

.navbar .navbarMenuSocial .navbarSocial #instagramLogo {
  font-size: 20px;
}

.underNav {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.underNav .underNavImage {
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 77, 66, 0.65)), to(rgba(92, 77, 66, 0.65))), url(../../immagini/modificate/immaginePieve.png);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.65) 0%, rgba(92, 77, 66, 0.65) 100%), url(../../immagini/modificate/immaginePieve.png);
  background-size: cover;
  background-position-x: 40%;
}

.underNav:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100vw;
  height: 8vh;
  background: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 998px) {
  .navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .navbar .navbarMenuSocial {
    -webkit-animation: ease-in-out .3s;
            animation: ease-in-out .3s;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    background-color: rgba(255, 255, 255, 0.8);
    width: 100vw;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: none;
    -ms-grid-rows: 3fr 1fr;
        grid-template-rows: 3fr 1fr;
    position: absolute;
    padding-top: 10%;
    top: 8vh;
    height: 92vh;
  }
  .navbar .navbarMenuSocial .navbarMenu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .navbarMenuSocial .navbarMenu .navbarLinks {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .navbar .navbarMenuSocial .navbarSocial {
    padding-left: 20%;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .burger {
    display: block;
    text-align: right;
    font-size: 30px;
    color: #3b3b3b;
    z-index: 1;
    right: 0;
    margin-right: 10vw;
  }
}
/*# sourceMappingURL=navbar.css.map */